.container {
  position: absolute;
  width: 1440px;
  height: 1093px;
  left: 0px;
  top: 0px;
}
.background {
  position: absolute;
  width: 1440px;
  height: 1093;
  background: url(images/Bitmap..png);
}

.logo img {
  position: absolute;
  width: 50px;
  float: left;
  padding-left: 5%;
  padding-top: 2%;
  filter: invert(1);
}
.logo h2 {
  position: absolute;
  width: 111.83px;
  height: 12.58px;
  left: 150.77px;
  top: 20px;
}
.menu {
  position: absolute;
  height: 15px;
  left: 1041px;
  top: 37px;
  font-family: "Source Sans Pro";
  font-size: 12px;
  font-weight: bold;
}
.menu a {
  padding: 16px;
  color: white;
  text-decoration: none;
}
.menu a:hover {
  background: gainsboro;
  color: beige;
}
.banner {
  height: 1093px;
  width: 1440px;
}
.banner h1 {
  text-align: center;
  top: 220px;
  font-size: 120px;
  font-weight: 700px;
  font-family: "Source Sans Pro";
  line-height: 151px;
}
.subtitle {
  font-family: "Source Sans Pro";
  font-style: normal;
  font-weight: 700;
  font-size: 16px;
  line-height: 20px;
  text-align: center;
}
.subtitle p {
  display: inline;
  padding-inline-end: 65px;
}
.button {
  position: absolute;
  height: 44px;
  width: 162px;
  border-radius: 22px;
  border: none;
  cursor: pointer;
  background-color: #c271ff;
  color: white;
  text-align: center;
  font-family: Source Sans Pro;
  font-size: 14px;
  filter: drop-shadow(0px 2px 20px rgba(0, 0, 0, 0.5));
}
.banner button {
  position: absolute;
  left: 44.38%;
  top: 38.33%;
}
.banner h2 {
  font-family: "Source Sans Pro";
  font-style: normal;
  font-weight: 700;
  font-size: 32px;
  line-height: 40px;
  text-align: center;
}
.pros {
  position: absolute;
  width: 1009px;
  height: 237px;
  top: 758px;
}
.pro_1 {
  position: absolute;
  left: 250px;
  width: 150px;
}
.pro_2 {
  position: absolute;
  left: 506px;
  width: 150px;
}
.pro_3 {
  position: absolute;
  left: 787px;
  width: 150px;
}
.pro_4 {
  position: absolute;
  left: 1076px;
  width: 150px;
}
.pros img {
  width: 150px;
  height: 150px;
  bottom: 36;
  border-radius: 50%;
}
.quote {
  background-color: #c271ff;
  position: absolute;
  width: 1440px;
  height: 392px;
  left: -1px;
  top: 1093px;
}
.quote img {
  position: absolute;
  width: 160px;
  height: 160px;
  left: 269px;
  top: 121px;
  border-radius: 80px;
}
.qText {
  position: absolute;
  width: 730px;
  height: 158px;
  left: 473px;
  top: 110px;
  color: white;
  font-family: "Source Sans Pro";
  font-size: 22px;
}
.qText blockquote {
  font-family: "Source Sans Pro";
  font-style: normal;
  font-weight: 400;
  font-size: 22px;
  line-height: 34px;
}
.tutorials {
  position: absolute;
  width: 1228px;
  height: 450px;
  left: 106px;
  top: 1572px;
}
.tutorials h1 {
  position: absolute;
  height: 40px;
  left: 39.25%;
  right: 36.81%;
  top: calc(50% - 40px / 2 - 205px);

  font-family: "Source Sans Pro";
  font-style: normal;
  font-weight: 300;
  font-size: 32px;
  line-height: 40px;
  text-align: center;
}
.tuto_1 {
  position: absolute;
  left: 4.72%;
  right: 74.51%;
  top: 25.56%;
  bottom: 0%;
}
.tuto_2 {
  position: absolute;
  left: 28.01%;
  right: 51.22%;
  top: 25.56%;
  bottom: 0%;
}
.tuto_3 {
  position: absolute;
  left: 51.22%;
  right: 28.01%;
  top: 25.56%;
  bottom: 0%;
}
.tuto_4 {
  position: absolute;
  left: 74.43%;
  right: 4.8%;
  top: 25.56%;
  bottom: 0%;
}
.author img {
  position: absolute;
  width: 30px;
  height: 30px;
  left: 13px;
  top: 276px;
  border-radius: 50%;
}
.author h3 {
  position: absolute;
  height: 27px;
  right: 44.31%;
  top: calc(50% - 27px / 2 + 109px);

  font-family: "Source Sans Pro";
  font-style: normal;
  font-weight: 600;
  font-size: 14px;
  line-height: 27px;

  color: #c271ff;
}
.starc {
  position: absolute;
  width: 107px;
  height: 15px;
  left: 13px;
  top: 305px;
}
.min {
  font-family: "Source Sans Pro";
  font-style: normal;
  font-weight: 600;
  font-size: 14px;
  line-height: 27px;
  text-align: right;

  color: #c271ff;
}
.membership {
  background-color: #071629;
  position: absolute;
  width: 1440px;
  height: 502px;
  left: 0px;
  top: 2109px;
}
.membership h1 {
  position: relative;
  top: 70px;
  color: white;
  font-family: "Source Sans Pro";
  font-weight: 300;
  text-align: center;
}
.membContent {
  display: flex;
  position: relative;
  top: 168px;
  left: 204px;
  width: 1112px;
  height: 282px;
}
.membContent button {
  position: absolute;
  left: 39%;
  top: 65%;
}
.dot img {
  width: 43.5px;
  height: 35.5;
  filter: invert(1);
  color: #7533a9;
}
.dot h2 {
  position: absolute;
  height: 26px;
  left: 0.19%;
  right: 0.19%;
  top: calc(50% - 26px / 2 - 1.5px);

  font-family: "Source Sans Pro";
  font-style: normal;
  font-weight: 600;
  font-size: 18px;
  line-height: 26px;
  /* identical to box height, or 144% */

  text-align: center;

  color: #ffffff;
}
.dot p {
  font-size: 14px;
  font-weight: 300;
  width: 215px;
  height: 52px;
  padding-inline: 21px;
  color: white;
}
.faq {
  position: absolute;
  width: 920px;
  height: 707px;
  left: 249px;
  top: 2678px;
}
.faq h1 {
  text-align: center;
  font-weight: 300;
  font-size: 60px;
}
.faqs1 h2 {
  font-weight: bold;
  font-size: 16px;
}
.faq p {
  font-size: 14px;
  color: #07162980;
}
.f_1 {
  position: absolute;
  left: 0%;
  top: 21%;
  width: 350px;
  height: 242px;
}
.f_2 {
  position: absolute;
  left: 62%;
  top: 21%;
  width: 350px;
  height: 242px;
}
.faqs2 h2 {
  font-weight: bold;
  font-size: 16px;
}
.faqs2 p {
  font-size: 14px;
  color: #07162980;
}
.f_3 {
  position: absolute;
  left: 0%;
  top: 66%;
  width: 350px;
  height: 242px;
}
.f_4 {
  position: absolute;
  left: 62%;
  top: 66%;
  width: 350px;
  height: 242px;
}
.footer {
  position: absolute;
  width: 1440px;
  height: 249px;
  left: 0px;
  top: 3469px;

  background-color: #071629;
}
.footer p {
  position: absolute;
  left: 47%;
  top: calc(50% - 15px / 2 + 78px);
  font-family: "Source Sans Pro";
  color: white;
  font-size: 12px;
  mix-blend-mode: normal;
  opacity: 0.35;
}
.my_logo {
  position: absolute;
  left: 11.46%;
  right: 76.81%;
  top: 38.15%;
  bottom: 49.8%;
}
.my_logo img {
  position: absolute;
  width: 50px;
  float: left;
  padding-left: 5%;
  padding-top: 2%;
  filter: invert(1);
}
.my_logo h2 {
  position: absolute;
  width: 111.83px;
  left: 150.77px;
  top: 20px;
}
.social {
  position: absolute;
  width: 130px;
  height: 30px;
  left: 1070px;
  top: 90px;
}
.social img {
  padding-inline: 20px;
}
